[submodule "ref-assertion"]
	path = ref-assertion
	url = https://github.com/atmajs/assertion.git
[submodule "ref-atma-libs"]
	path = ref-atma-libs
	url = https://github.com/atmajs/atma.libs.git
[submodule "ref-logger"]
	path = ref-logger
	url = https://github.com/atmajs/atma-logger.git
[submodule "ref-domtest"]
	path = ref-domtest
	url = https://github.com/atmajs/domtest
